{% extends "base.html" %}

{% block content %}
<div class="m-2">
  <h2 class="text-center ventas-cliente ">Historial de Movimientos de {{ cliente.nombre }}</h2>

  {% if movimientos %}
  <table class="table fuente table-dark table-hover mb-0 px-1">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Tipo</th>
      <th>Monto</th>
      <th>Saldo después</th>
      
    </tr>
  </thead>
  <tbody>
    {% for mov in movimientos %}
      <tr>
        <td>{{ mov.fecha|date:"d/m/Y H:i" }}</td>
        <td>
          {% if mov.pago %}Pago{% elif mov.venta %}Venta{% else %}-{% endif %}
        </td>
        <td>
          {% if mov.pago %}
            S/. {{ mov.pago.total_pagado }}
          {% elif mov.venta %}
            S/. {{ mov.venta.Venta_Total }}
          {% else %}
            -
          {% endif %}
        </td>
        <td>S/. {{ mov.saldo }}</td>
        
        </td>
      </tr>
    {% endfor %}
  </tbody>
  
</table>

  {% else %}
    <p>No hay movimientos registrados para este cliente.</p>
  {% endif %}
</div>
{% endblock %}
