{% extends 'base.html' %}
{% load static %}
{% block content %}



<h1 class="text-center py-3 color-fuente">Lista de Clientes</h1>
<div class="my-2 mx-0 mx-md-3">

  <div>
  <form method="GET" class="d-flex gap-4 align-items">{% csrf_token %}
    <input 
      type="text" 
      id="kword" 
      name="kword" 
      placeholder="Ingrese nombre" 
      class="form-control w-50 text-center ms-2 mb-2"
    >
    <button type="submit" class="btn btn-success w-25 mb-2">
      Consultar
    </button>
  </form>
</div>


<table class="table fuente table-dark table-hover mb-0 w-100">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <!--<th>DNI</th>
      <th>Teléfono</th>-->
      <th>Saldo s/.</th>  <!-- NUEVA COLUMNA -->
      <th>Dias Vencidos</th>
    </tr>
  </thead>
  <tbody>
    {% for cliente in lista_clientes %}
      <tr class=" fila{{ cliente.color_alerta }}">
        <td>{{ cliente.id }}</td>
        <td>{{ cliente.nombre }}</td>
        <!--<td>{{ cliente.dni }}</td>
        <td>{{ cliente.telefono }}</td>-->
        <td>{{ cliente.saldo_pendiente|floatformat:2 }}</td> <!-- Mostrar saldo -->
        <!--<td>
          {% with cliente.get_saldo_actual as saldo %}
            {% if saldo > 0 %}
              <span class="text-danger">S/. {{ saldo }}</span>
            {% else %}
              <span class="text-success">S/. {{ saldo }}</span>
            {% endif %}
          {% endwith %}
        </td>-->
        <td>{{ cliente.dias_vencidos }} días</td>
        <td>
          <div class="d-flex flex-wrap gap-2 botones-acciones">
            <a href="{% url 'cliente_app:historial_cliente' cliente.id %}" class="btn btn-primary btn-sm">
              Ventas
            </a>
            <a href="{% url 'venta_app:registrar_abono' %}" class="btn btn-primary btn-sm">
              Abonar
            </a>

            <a href="{% url 'cliente_app:historial_saldos' cliente.id %}" class="btn btn-success btn-sm">
              Pagos/Saldos
            </a>
            <a href="{% url 'cliente_app:historial_utilidad' cliente.id %}" class="btn btn-success btn-sm utilidad-btn">
              Utilidad
            </a>
          </div>
        </td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="6">No hay clientes registrados.</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<!-- Paginación -->
{% if is_paginated %}
  <nav aria-label="Page navigation" class="paginacion">
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
      {% else %}
        <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">&laquo;</a></li>
      {% endif %}
      {% for i in paginator.page_range %}
        <li class="page-item {% if page_obj.number == i %}active{% endif %}">
          <a class="page-link" href="?page={{ i }}">{{ i }}</a>
        </li>
      {% endfor %}
      {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
      {% else %}
        <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">&raquo;</a></li>
      {% endif %}
    </ul>
  </nav>
</div>
{% endif %}

{% endblock %}
