{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<div class="container mt-4">
  <h3 class="text-center mb-4">Datos Usuario</h3>  

  <form method="POST" class="row g-3 justify-content-center">
    {% csrf_token %}

    <div class="col-md-12">
      <label class="form-label">Email:</label>
      <div class="input-group">
        <span class="input-group-text"><i class="bi bi-envelope"></i></span>
        {{ form.email|add_class:"form-control" }}
      </div>
      {% for error in form.email.errors %}
        <div class="text-danger mt-1">{{ error|escape }}</div>
      {% endfor %}
    </div>

    <div class="col-md-6">
      <label class="form-label">Nombre:</label>
      <div class="input-group">
        <span class="input-group-text"><i class="bi bi-person"></i></span>
        {{ form.full_name|add_class:"form-control" }}
      </div>
    </div>

    <div class="col-md-6">
      <label class="form-label">Permisos:</label>
      <div class="input-group">
        {{ form.ocupation|add_class:"form-select" }}
      </div>
    </div>

    <div class="col-md-6">
      <label class="form-label">Género:</label>
      <div class="input-group">
        {{ form.genero|add_class:"form-select" }}
      </div>
    </div>

    <div class="col-md-6">
      <label class="form-label">Fecha de Nacimiento:</label>
      <div class="input-group">
        <span class="input-group-text"><i class="bi bi-calendar"></i></span>
        {{ form.date_birth|add_class:"form-control" }}
      </div>
    </div>

    <div class="col-md-6">
      <label class="form-label">Usuario Activo:</label>
      <div class="form-check form-switch">
        {{ form.is_active|add_class:"form-check-input" }}
      </div>
    </div>

    <div class="col-md-10 text-center">
      <button type="submit" class="btn btn-success">Guardar</button>
    </div>
  </form>

  <form class="mt-3 text-center" action="{% url 'users_app:user-delete' object.id %}" method="POST">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Eliminar</button>
  </form>
</div>
{% endblock %}
